*{
    margin: 0;
    
}

header{
    background-color: #303636;
    padding: 0;
    height: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: fixed;
}

.navbar{
    background-color: #303636;
    color: #EEE;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-height: 60px;
}

a{
    color:#EEE
}

.apresentacao{
    text-align: center;
}

body{
    font-family:'Times New Roman', Times, serif
    
}
main{
    padding: 200px;
    background-color: salmon;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 25px;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
}
